@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font;
}

h1,
h2,
h3,
a,
li {
  font-family: $font_title;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $bleu_sombre;
}

.jo_portfolio__main-navbar {
  position: relative;
  width: 100%;
}

.jo_portfolio__navbar-container {
  position: absolute;
  width: 800px;
  height: 60px;
  border: red 1px solid;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.jo_portfolio__navbar-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.jo_portfolio__navbar-item {
  list-style: none;
  text-transform: none;
  color: $blanc;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.jo_portfolio__main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.jo_portfolio__banner {
  height: 100vh;
  display: flex;
  align-items: center;
}
.jo_portfolio__banner-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 20px;
  padding: 20px 30px;
}

.jo_portfolio__title,
.jo_portfolio__subtitle,
.jo_portfolio__banner-text {
  color: $blanc;
}

.jo_portfolio__title {
  font-size: 30px;
}
.jo_portfolio__subtitle {
  font-size: 50px;
}
.jo_portfolio__banner-text {
  font-size: 20px;
  line-height: 1.4;
}
