@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  display: flex;
  min-height: 100vh;
  font-family: $font;
}
p {
  font-size: $paragraphe;
}
h1, h2, h3, h4{
  color: $colorTitle;
}
header{
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
}
nav{
  border: 2px solid red;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 500px;

  li{
    a{
      text-decoration: none;
      color: $colorTitle;
      font-weight: 700;
    }
  }
}
